@import "/src/theme/colors.scss";

.container {
  position: absolute;
  display: flex;
  align-items: center;


  &.vertical {
    width: 400px;
    justify-content: flex-start;

    .verticalLine {
      position: absolute;
      left: 0;
      transform: translateX(-50%);
      height: 100%;
      margin: 0;
    }

    .text {
      position: absolute;
      left: 20px;
      margin: 0;
      white-space: nowrap;
    }
  }

  &.horizontal {
    justify-content: flex-start;

    .horizontalLine {
      margin-right: 20px;
    }
  }
}

.verticalLine {
  height: auto;
  width: var(--vertical-line-thickness);
  background-color: var(--vertical-line-color);
  margin-right: 20px;
}

.horizontalLine {
  height: var(--horizontal-line-thickness);
  width: auto;
  background-color: var(--horizontal-line-color);
  margin-right: 20px;
}

.text {
  font-size: xx-large;
  text-shadow: black 3px 3px 2px;
  font-family: Impact;
}
