$zeldaColor: #b29759;
$backgroundColorWebsite: #242424;
$golden: #fcd939;
$silver: #dde0dd;
$royalBlue: #142a31;
$whiteOld: #f3efe6;

$horizontalLineThickness: 5px;
$horizontalLineColor: #b3a069;
$verticalLineThickness: 5px;
$verticalLineColor: #b3a069;