@import '/src/theme/colors.scss';
@import '/src/index.scss';

$borderSize: 6px;
$eraHeight: 130px;
$eraWidth: 530px;

:export {
  eraHeight: $eraHeight;
  eraWidth: $eraWidth;
  borderSize: $borderSize;
}

@mixin absolute-width($width) {
  width: $width;
}

.externalBorder1 {
  border: $borderSize solid #ff000000;
  z-index: 0;
  width: $eraWidth;
  position: fixed;
  box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.75);
}
.externalBorder0 {
  border: $borderSize solid #ff000000;
  z-index: 0;
  width: calc(100% - $borderSize * 4);
}

.title {
  color: white;
  text-transform: uppercase;
  width: fit-content;
  text-align: center;
  margin: 0 30px;
  text-shadow: 2px 2px 2px black;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.eraContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: $borderSize solid $zeldaColor;
  background-position: 77% 63%;
  position: relative;
  height: $eraHeight;
  z-index: -1;
}

.innerContainer{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundImgEra{
  position: absolute;
  z-index: -2;
  opacity: 0.5;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  display: flex;
  width: 100%;
}

.golden {
  border-color: $golden;
  color: $golden;
}

.silver {
  border-color: $silver;
  color: $silver;
}

.zeldaColor {
  border-color: $zeldaColor;
  color: $zeldaColor;
}