@import '/src/theme/colors.scss';

$borderSize: 6px;
$eraHeight: 170px;
$eraWidth: 700px;

.externalBorder1 {
  border: $borderSize solid $zeldaColor;
  z-index: 0;
  width: calc($eraWidth + $borderSize * 4);
  position: relative;
}
.externalBorder0 {
  border: $borderSize solid $backgroundColorWebsite;
  z-index: 0;
  width: calc($eraWidth + $borderSize * 2);
  position: relative;
}

.title {
  color: white;
  text-transform: uppercase;
  width: fit-content;
  text-shadow: 2px 2px 2px black;
}

.eraContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: $eraWidth;
  border: $borderSize solid $zeldaColor;
  background-position: 77% 63%;
  position: relative;
  height: $eraHeight;
  z-index: -1;
}

.innerContainer{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundImgEra{
  position: absolute;
  z-index: -2;
  top: -180%;
  left: -25%;
  opacity: 0.5;
}



